<?xml version="1.0" encoding="UTF-8"?>
<!-- Example web.xml file for a tomcat server. Should be placed in the WEB-INF folder. -->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>samples.servlet.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>AnthonyXML.XML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRSSEntry</servlet-name>
        <servlet-class>AnthonyXML.AddRSSEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEntryToRSS</servlet-name>
        <servlet-class>AddEntryToRSS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLGenerate</servlet-name>
        <servlet-class>AnthonyXML.XMLGenerate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateRSSPage</servlet-name>
        <servlet-class>AnthonyXML.GenerateRSSPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryMemberAccess</servlet-name>
        <servlet-class>Database.QueryMemberAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewstream</servlet-name>
        <servlet-class>Database.AddPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryMemberStatus</servlet-name>
        <servlet-class>Database.QueryMemberStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNewstreams</servlet-name>
        <servlet-class>Database.ListNewstreams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <servlet-class>Database.ProcessPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberData</servlet-name>
        <servlet-class>MemberData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPurchase</servlet-name>
        <servlet-class>Database.AddPurchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerServlet</servlet-name>
        <url-pattern>/customerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRSSEntry</servlet-name>
        <url-pattern>/AddRSSEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEntryToRSS</servlet-name>
        <url-pattern>/AddEntryToRSS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLGenerate</servlet-name>
        <url-pattern>/XMLGenerate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateRSSPage</servlet-name>
        <url-pattern>/GenerateRSSPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryMemberAccess</servlet-name>
        <url-pattern>/QueryMemberAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewstream</servlet-name>
        <url-pattern>/AddNewstream</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryMemberStatus</servlet-name>
        <url-pattern>/QueryMemberStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNewstreams</servlet-name>
        <url-pattern>/ListNewstreams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentServlet</servlet-name>
        <url-pattern>/ProcessPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberData</servlet-name>
        <url-pattern>/MemberData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPurchase</servlet-name>
        <url-pattern>/AddPurchase</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IpnHandler</servlet-name>
        <servlet-class>samples.IpnHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerServlet</servlet-name>
        <servlet-class>samples.servlet.customerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IpnHandler</servlet-name>
        <url-pattern>/IpnHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleCheckoutServlet</servlet-name>
        <servlet-class>samples.servlet.SimpleCheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCheckoutServlet</servlet-name>
        <url-pattern>/SimpleCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProviderCheckoutServlet</servlet-name>
        <servlet-class>samples.servlet.ProviderCheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProviderCheckoutServlet</servlet-name>
        <url-pattern>/ProviderCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProviderRefundServlet</servlet-name>
        <servlet-class>samples.servlet.ProviderRefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProviderRefundServlet</servlet-name>
        <url-pattern>/ProviderRefundServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReverseProviderCreditServlet</servlet-name>
        <servlet-class>samples.servlet.ReverseProviderCreditServlet
		</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReverseProviderCreditServlet</servlet-name>
        <url-pattern>/ReverseProviderCreditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefundServlet</servlet-name>
        <servlet-class>samples.servlet.RefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefundServlet</servlet-name>
        <url-pattern>/RefundServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderCancellationServlet</servlet-name>
        <servlet-class>samples.servlet.OrderCancellationServlet
		</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderCancellationServlet</servlet-name>
        <url-pattern>/OrderCancellationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitShipmentsCheckoutServlet</servlet-name>
        <servlet-class>samples.servlet.SplitShipmentsCheckoutServlet
		</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitShipmentsCheckoutServlet</servlet-name>
        <url-pattern>/SplitShipmentsCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SplitShipmentsSetupServlet</servlet-name>
        <servlet-class>samples.servlet.SplitShipmentsSetupServlet
		</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplitShipmentsSetupServlet</servlet-name>
        <url-pattern>/SplitShipmentsSetupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddressConsentServlet</servlet-name>
        <servlet-class>samples.servlet.AddressConsentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddressConsentServlet</servlet-name>
        <url-pattern>/AddressConsentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutomaticPaymentSimpleCheckoutServlet</servlet-name>
        <servlet-class>samples.servlet.AutomaticPaymentSimpleCheckoutServlet
		</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutomaticPaymentSimpleCheckoutServlet</servlet-name>
        <url-pattern>/AutomaticPaymentSimpleCheckoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
